body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: gray;
    

}
.banner-column{
    background-color: rgb(59, 82, 109);
}
#myimg{
    width: 250px;
    height: 600px;
padding-left: 300px;
padding-right: 300px;
}
.navbar-container{
    background-color: rgb(16, 19, 17);
    position: sticky;
    top: 0;
    z-index: 2;

}
.about-container{
    background-color: rgb(40, 226, 233);
}
#thank{
    color:white;
    
}
#h-color{
    color: tomato;
}
#h5-color{
    color: rgb(63, 4, 65);
}
.education-container{
    background-color: rgb(86, 223, 86);

}
.bg-red{
    background-color: tomato
}
.bg-text-color{
    color: rgb(24, 23, 23);

}
.circle{
    background-color: rgb(226, 117, 55);
    width: 150px;
    height: 150px;
    border-radius:50% ;
}
.project-container{
    background-color: rgb(22, 84, 155);
}
.img-fluid{
    height: 250px;
    width: 400px;

}
.text-white{
    text-decoration: none;
}
#time-color{
    color: rgb(55, 235, 226);
    
}
.portfolio-container{
    background-color: darkkhaki;
}
.gallery-container{
    background-color: darkolivegreen;
}
.form-container{
    background-color: rgb(43, 46, 46);

}
.inner-form{
    background-color: rgb(48, 51, 75);

}
.btn{
    background-color: green;
}
.btn:hover{
    background-color: cyan;
    color: black!important;
}
.nav-link:hover{
  background-color: black;
  color:green;
  border-bottom:5px solid #41C84E;
  color:#41C84E;
}
.nav-link:active{
    background-color: green;
    color: black;
}
.nav-link:visited{
   color: green;
    }
    .nav-link:checked{
        background-color: green;
        }

#p-color{
    color: rgb(5, 122, 201);
}
.footer{
    background-color: teal;
}
.circle-new{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 30px;
    text-align: center;
    color: rgb(18, 100, 155);
}

.circle-new:hover{
    background-color: rgb(51, 49, 49);
    

}
#yout{
    color: red;
}
#gith{
    color: rgb(16, 19, 17);
}
.contme{
   
    margin-right: 250px;
    padding-bottom: 4px;
    border-left: 10px solid green;
    padding-left: 20px;
}
#copy{
    background-color: rgb(141, 163, 163);
}
